@page
@using System.Linq
@using MuzikStoreRazor.UI.Models
@model MuzikStoreRazor.UI.Pages.MusicList.CreateModel
@{
    ViewData["Title"] = "Create";
}

<br/>
<h2>Yeni Müzik Ekleme </h2>
<br/>
<div class="boreder container">
    <form method="post">
        <div class="form-group row">
            <div class="col-4">
               <label asp-for="Musics."></label>
            </div>
        </div>
    </form>

</div>